@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400,500,600);
@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
    background-color: whitesmoke;
}
.header{
    font-size: 17px;
    height: 13%;
    
}
.header img{
    width: 25%;
    margin-top: -0.7%;
}
.nav li{
    //padding-right: 50px;
    padding-bottom: 8%;
    padding-top: 8%;
    font-weight: 300;
}
.start{
    margin-top: 135px;
}

.sorting{
    padding: 30px;
}

#middle{
    position: relative;
    margin-left: 25%;
    background-color: white;
    border-radius: 20px;
}
#left{
    position: absolute;
    //background-color: white;
    background-color: whitesmoke;
}
#right{
    position: absolute;
    margin-left: 75%;
    background-color: whitesmoke;
    //background-color: #FFFFDE;
    //background-color: #E5E5E5;
}
.name{
    font-size: large;
}
.name a{
    color: #FF0000;
    font-weight: bold;
    font-weight: 500;
    font-size: 18px;
}
.name a:hover{
    transition:linear 0.2s;
    text-decoration: none;
    color: #FF0660;
    text-shadow: 2px 2px 2px 2px;
    font-size: 18.4px;
}
.box{
    
    //background-image: url("");
    padding-left: 25px;
    padding-right: 25px;
    margin:10px;
    font-size: 16px;
    
}

.box strong{
    font-weight: 500;
}
.btn img{
    width: 13px;
}
.box-list li{
    background-color: #009933;
    margin:3px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.box-list img{
    width: 100%;
}
.sponsored-box{
    //padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.sponsored-box img{
    width:100%;
    //margin-left: 12%;
}
.affix {
    top: 0;
    width: 100%;
    margin-top: 90px;
    transition:padding 0.3s linear;
    
}

.affix-top {
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;  
    -o-transition:padding 0.2s linear;         
    transition:padding 0.2s linear;
}
        
        
.affix + .box {
    padding-top: 90px;
}
.top{
    background-color: white;
    width: 49%;
    margin-left: 0%;
}
.top hr{
    width: 210%;
}
footer{
    height: 30px;
    background-color: #3f99c3;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 20px 20px 2px 2px;
}
footer li{
    margin-top: 7px;
}
footer li a{
    color: white;
    font-size: 110%;
    margin-right: 10px;
}
footer li a:hover{
    color: black;
    text-decoration: none;
    transition: linear 0.25s;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    color: #a7fb9d
    //margin-top: 32%;
    background:rgba(167, 251, 151, 0.19);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}
.caption h3{
    margin-top: 25%;
}



