@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400);
@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
}

.jumbotron {
    background-color: #3f99c3;
    font-weight: 300;
    margin-top: 140px;
    height: 210px;
    
}

.jumbotron h2{
    font-weight: 300;
    font-stretch:  extra-expanded;
}


.form-control{
    opacity: 1;
}
.capt {
    background-color: #3f99c3;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 3%;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.table-responsive table th{
    background-color: #1e6dce;
    font-weight: 300;
    border-radius: 3px;
    color: white;
}

.table-responsive table a{
    color: black;
    font-weight: 200;
}
.table-responsive table tr:hover{
    transition: linear 0.15s;
}
.table-responsive table a:hover{
    text-decoration: none;
    color: #1e6dce;
    transition: linear 0.15s;
}

.form-group select,button{
    margin-top: 15px;
    font-weight: 300;
}

.carousel{
    //width: 800px;
    margin-top: 450px;
    height: 70%;
}

.carousel-inner{
    height: 100%;
}

.carousel img{
    width: 100%;
}

.carousel-indicators li{
    border-radius: 20px;
    border-color: yellow;
    width: 40px;
    height: 40px;
    text-indent: 0;
    background: yellow;
    color: #3f99c3;
    padding-top: 10px;
    margin-left: 20px;
    font-weight: 500;
    
}


.carousel-indicators li.active{
    border-radius: 20px;
    border-color: #3f99c3;
    width: 40px;
    height: 40px;
    background: #3f99c3;
    color:yellow;
    padding-top: 10px;
    margin-left: 20px;
}


.box{
    background-color: #ffcc66;
    height: 40%;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.9;
   
}
.box:hover{
    transform: scale(1.030);
    transition: linear 0.2s;
}

.box h5 a{
    color: black;
}
