@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400);
@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
}

.start{
    margin-top: 140px;
}

.name{
    //background-color: #3f99c3;
    margin-top: 0px;
    background:#3f99c3 url('../images/pattern.png') top repeat ;
}
.prize{
    position: absolute;
    margin-top: 19%;
    margin-left: 85%;
    background-color: #ffe53c;
    width: 130px;
    height: 130px;
    border-radius: 60px;
    padding: 2.3%;
    text-align: center;
    font-size: x-large;
    color:#1e6dce;
    font-weight: bold;
    background:#ffe53c url('../images/pattern.png') top repeat ;
}
.prize:hover{
    position: absolute;
    background-color: #3f99c3;
    color: #ffe53c;
    cursor: pointer;
    transition:0.2s linear;
    transform: scale(1.035);
    background:#3f99c3 url('../images/pattern.png') top repeat ;
}
.banner{
    margin-top: 0.6%;
    width: 100%;
    height: 70%;
}

.banner img{
    width: 100%;
    height: 100%;
}


.circle{
    background-color: #ffe53c;
    border-radius: 55px;
    height: 80px;
    width: 80px;
    padding-top: 29px;
    margin-left: 30px;
    color:#1e6dce;
    font-weight: bold;
    
    background:#ffe53c url('../images/pattern.png') top repeat ;
}
.btn{
    margin-top: 15px;
    height: 50px;
    width: 130px;
}
.info{
    margin-top: 15px;
}

.capt {
    background-color: #1e6dce;
    width: 100%;
    color: white;
    padding: 1%;
    border-radius: 15px 15px 2px 2px; 
    font-size: 20px;
    font-weight: 300;
    background:#1e6dce url('../images/pattern.png') top repeat ;
}

.news{
    height: 85%;
    width: 120%;
}

.box{
    //background-color: #3f99c3;
    color: white;
    background:#3f99c3 url('../images/pattern.png') top repeat ;
}
.jumbotron:hover{
    transition: linear 0.3s;
    transform: scale(1.015);
}
