@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400);
@font-face{
 font-family: "Ubuntu";
}
body{
    font-family: Ubuntu;
    font-weight: 200;
}
.start{
    margin-top: 110px;
}

.name{
    margin-top: 0px;
    background:#3f99c3 url('../images/pattern.png') top repeat ;
}
.jumbotron{
    background-color: #3f99c3;
    color: white;
}
.jumbotron:hover{
    transition: linear 0.3s;
    transform: scale(1.015);
}

.profile-jumbo:hover{
    transition: linear 0.3s;
    transform: scale(1.01);
}
.profile-jumbo{
    background:#3f99c3 url('../images/pattern.png') top repeat ;
    margin-top: 20px;
    height: 400px;
}
.head{
    font-size: 20px;
    font-weight: 300;
}

.img-rounded{
    box-shadow: 4px 4px 4px 4px rgba(20,20,20,0.35);
}
.box{
    height: 400px;
    background:#3f99c3 url('../images/pattern.png') top repeat ;
    
}